--extra-index-url https://download.pytorch.org/whl/cu113
torch
torchvision
#diffusers
git+https://github.com/huggingface/diffusers.git
#transformers
git+https://github.com/huggingface/transformers
scipy
ftfy
psutil
accelerate
#OmegaConf
#pytorch_lightning
triton
xformers
#https://github.com/apolinario/xformers/releases/download/0.0.3/xformers-0.0.14.dev0-cp38-cp38-linux_x86_64.whl
https://github.com/camenduru/stable-diffusion-webui-colab/releases/download/0.0.15/xformers-0.0.15.dev0+4c06c79.d20221205-cp38-cp38-linux_x86_64.whl
